<div id="pharmacy-pages">

<div class = "container about">

<h1>About Pharmacies Find it!</h1>

<br>

<p>Pharmacies Find it! was created in 2018 in order to help patients manage their prescriptions and also find the best available pharmacies nearby.<br> Our free platform provides patients with access to pharmacy locations and store information through Google Maps. We also manage a proprietary<br> database containing user-generated information about certain pharmacies which may not be listed on Google.</p>

<!--<img src= "http://www.saenzpharmacy.com/" alt="pharmacist"> -->

</div>

</div>