<div id="signup">
    <hr>
    <div class="form">

        <h2>Contact Us</h2>

        <form action="/process-contact" method="POST">
            <label>
                <p>Name:</p>
                <input type="text" name="sender" placeholder="Your name">
                <span class="underline"></span>
            </label>
            <br>
            <label>
                <p>Email</p>
                <input type="email" name="senderEmail" placeholder="Your email">
                <span class="underline"></span>
            </label>
            <br>
            <label>
                <p>Message:</p><br>
                <textarea name="message" placeholder="Enter your message"></textarea>
            </label>
            <br>

            <button>Send Message</button>
        </form>
    </div>
</div>
