<div id="edit">
    <div class="form">

        <nav aria-label="...">
            <ul class="pager"  style="margin-left: 5vw">
                <li class="previous"><a href="/portal/pharmacies"><span aria-hidden="true">&larr;</span> Back</a></li>
            </ul>
        </nav>

        <h2>Add a pharmacy</h2>

        <div id="info">

            <form action="/process-add/" method="POST">
                <label>
                    <p>&#x2a Pharmacy Name:</p>
                    <input type="text" name="storeName" placeholder="Enter store name">
                </label>
                <br>

                <label>
                    <p>&#x2a Phone Number:</p>
                    <input type="text" name="storePhoneNumber" placeholder="Enter the store's phone number">
                </label>
                <br>

                <label>
                    <p>&#x2a Address:</p>
                    <input type="text" name="storeAddress" placeholder="Enter the store's address">
                    <input type="text" name="storeZip" placeholder="Zip code" class="address">
                    <input type="text" name="storeCity" placeholder="City" class="address">
                    <input type="text" name="storeCountry" placeholder="Country" class="address">
                </label>
                <br>

                <label>
                    <p>Available Prescriptions:</p>
                    <input type="array" name="prescriptions" placeholder="Enter the prescriptions offered (separated by commas)">
                </label>
                <br>

                <label>
                    <p>Professional Licenses:</p>
                    <input type="array" name="licenses" placeholder="Enter any professional licenses (separated by commas)">
                </label>
                <br>

                <label>
                    <p>Services Offered:</p>
                    <input type="array" name="services" placeholder="Enter the services offered (separated by commas)">
                </label>
                <br>

<!--
                <label id="picture">
                    <p>Store Image:</p>
                    <input type="file" name="storeImage" placeholder="Upload a picture of the store" class="input-file">
                    <label for="file" class="label-file">Upload picture</label>
                </label>
                <br>
-->

                <button>Add this Store</button>
            </form>


        </div>

    </div>

</div>