<div id="edit">
    <div class="form">
        <h2>Edit {{Store.storeName}}</h2>

        <div id="info">
            <form action="/process-store-edit/{{storeDetails._id}}" method="POST"></form>
        </div>
    </div>
</div>