<div class="form-group">
    <h2>Leave a review</h2>

    <form action="/process-review/{{storeDetails._id}}" method="POST">
        <label>
            <p>Leave a review:</p>
                <textarea id="textarea" type="text" name="review" placeholder="Leave a review"></textarea>
        </label>
        <br>
    </form>

</div>