<div id="edit">
    
    <div class="form">
    
        <h2>Edit store details</h2>

        <div id="info">

            <form action="/store-process-edit/:id" method="POST">
                <label>
                    <p>Store Address:</p>
                    <input type="text" name="storeName" value="{{storeDetails.storeAddress}}" placeholder="Update the store's address">
                </label>
            </form>

        </div>

    </div>
</div>