

#pharmacy-pages{
    background: #0C575D;
    padding: 15vh 0;
}

#pharmacy-pages .nav-tabs a{
    text-decoration: none;
    color: black;
}

#pharmacy-pages .nav .active a{
    color: #0c575d;
}

#pharmacy-pages .nav .not-active a{
    color: white;
}

#pharmacy-pages .nav .not-active a:hover{
    color: #0c575d;
}

#pharmacy-pages h2{
    text-align: center;
    align-content: center;
    margin-bottom: 3vh;
}

#pharmacy-pages .add{
margin: 0 auto;
}

#pharmacy-pages .buttons {
    text-align: center;
    margin-top: 1em;
}

#pharmacy-pages .lists {
background-color: navy;
text-align: center;
color: white;
}

#pharmacy-pages{
    min-height: 100vh;
}

#pharmacy-pages .shrink{
    width: 10vw;
}




#pharmacy-pages .edit-button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    margin: 1vh 0 1vh;
    border: none;
}

#pharmacy-pages .edit-button:hover{
text-decoration: underline;
}

#pharmacy-pages {
    color: white;
}

#pharmacy-pages .container-fluid {
    margin-top: 4vh;
    align-content: center;
    margin-left: 3vw;
    margin-right: 3vw;
}


#pharmacy-pages .add-button{
    margin-top: 8vh;
    padding: 1vh 2vw;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1vh;
    outline: none;
}

#pharmacy-pages .add-button:hover{
    background-color: white;
    color: #0C575D;
    font-weight: bold;
}