

#pharmacy-pages{
    background: #0C575D;
    padding: 15vh 0;
}

.nav-tabs a{
    text-decoration: none;
    color: black;
}

#pharmacy-pages h2{
    text-align: center;
    align-content: center;
}

#pharmacy-pages .add{
margin: 0 auto;
}

#pharmacy-pages .buttons {
    text-align: center;
    margin-top: 1em;
}

#pharmacy-pages .lists {
background-color: navy;
text-align: center;
color: white;
}

#pharmacy-pages{
    min-height: 100vh;
}

#pharmacy-pages .shrink{
    width: 10vw;
}




#pharmacy-pages .edit-button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    margin: 1vh 0 1vh;
    border: none;
}

#pharmacy-pages .edit-button:hover{
text-decoration: underline;
}

#pharmacy-pages {
    color: white;
}

#pharmacy-pages .container-fluid {
    margin-top: 4vh;
    align-content: center;
    margin-left: 3vw;
    margin-right: 3vw;
}


#portal-page .container .add-button{
    margin-left: 11vw;
    margin-top: 3vh;
    padding: 1vh 2vw;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1vh;
    outline: none;
}