

#pharmacy-pages{
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    padding: 15vh 0;
}

.nav-tabs a{
    text-decoration: none;
    color: black;
}

#pharmacy-pages h2{
    text-align: center;
}

#pharmacy-pages .table-responsive{
    background:#339999;
    width: 80vw;
    margin: .5em 5em 2em;
}

#pharmacy-pages .add{
margin: 0 auto;
}

#pharmacy-pages .buttons {
    text-align: center;
    margin-top: 1em;
}

#pharmacy-pages .lists {
background-color: limegreen;
text-align: center;
color: white;
width: 10vh;
}

#pharmacy-pages{
    min-height: 100vh;
}