#maps {
    background-color: #ccc;
    min-height: 100vh;
}


#maps h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 15vh;

}

#map .my-map{
    margin-top: 0vh;
    height: 500px;
    width: 70vw;
}

#map{
    padding: 5vh 0;
    margin-left:30vw;
}

#map p{
    color: white;
}

#maps input[type=text] {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width: 20vw;
    margin-left: 30vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* background-color: transparent; */
    background-color: white;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    /* background-image: url("http://icons.iconarchive.com/icons/icons8/ios7/256/Very-Basic-Search-icon.png"); */
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    /* outline-color: white; */
    /* outline-style: solid; */
}

#maps input[type=text]::-webkit-input-placeholder{
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
}

/* When the input field gets focus, change its width to 100% */
#maps input[type=text]:focus {
    width: 40vw;
}


#maps .search button {
    background-color: white;
    border: 2px solid #ccc;
    /* background-color: transparent;
    border: 2px solid white;
    color: white; */
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px 14px 20px;
    margin-top: 0px;
}

#maps .search button:hover{
    background-color: whitesmoke
}