#maps {
    background-color: #ccc;
    min-height: 100vh;
    /* max-height:100vh; */
}

#maps .nav{
    padding-top: 15vh;
}


#maps .nav-tabs a{
    text-decoration: none;
    color: black;
}


#maps h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 3vh;

}


#map .my-map{
    margin-top: 0vh;
    height: 500px;
    width: 70vw;
    margin-bottom: 0;
}

#map{
    padding: 5vh 0 0 0;
    display: flex;
    justify-content: space-between
}

#maps #map ul{
    margin: 0;
    padding: 0;
}

#maps #map li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    font-size: 1vh;
}

#maps #map li:hover{
    background-color: whitesmoke
}

#maps #map li hr{
    margin: 0;
    padding: 0;
}

#maps #map li .name{
    color: black;
    font-size: 2vh;
    font-weight: bold;
    margin: 0;
    padding: 1vh 3vh;
    text-align: left;
}

#maps #map li .address{
    color: black;
    font-size: 2vh;
    margin: 0;
    padding: 1vh 3vh;
    text-align: left;
}

#maps #map li .open{
    color: black;
    font-size: 2vh;
    margin: 0;
    padding: 1vh 3vh;
    text-align: left;
}

#maps #map li h2{
    margin: 0;
    padding:0;
}


#maps #map #listPharmacies{
    min-width: 20vw;
    max-height: 500px;
    overflow-y: scroll;
    width: 30vw;
    border: 1px solid white;
}


#map p{
    color: white;
}

#maps input[type=text] {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width: 20vw;
    margin-left: 30vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* background-color: transparent; */
    background-color: white;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    /* background-image: url("http://icons.iconarchive.com/icons/icons8/ios7/256/Very-Basic-Search-icon.png"); */
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    /* outline-color: white; */
    /* outline-style: solid; */
}

#maps input[type=text]::-webkit-input-placeholder{
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
}

/* When the input field gets focus, change its width to 100% */
#maps input[type=text]:focus {
    width: 40vw;
}


#maps .search button {
    background-color: white;
    border: 2px solid #ccc;
    /* background-color: transparent;
    border: 2px solid white;
    color: white; */
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px 14px 20px;
    margin-top: 0px;
}

#maps .search button:hover{
    background-color: whitesmoke
}



