<div id="add-store">
    <div class="form">

        <h2>Add a pharmacy</h2>

        <div id="info">

            <form action="/process-add/" method="POST">
                <label>
                    <p>&#x2a Pharmacy Name:</p>
                    <input type="text" name="storeName" placeholder="Enter store name">
                </label>
                <br>

                <label>
                    <p>&#x2a Address:</p>
                    <input type="text" name="storeAddress" placeholder="Enter the store's address">
                    <input type="text" name="storeZip" placeholder="Zip code" class="storeAddress">
                    <input type="text" name="storeCity" placeholder="City" class="storeAddress">
                    <input type="text" name="storeCountry" placeholder="Country" class="storeAddress">
                </label>
                <br>

                <label>
                    <p>&#x2a Phone Number:</p>
                    <input type="text" name="storePhoneNumber" placeholder="Enter the store's phone number">
                </label>
                <br>

                <!--<label>
                    <p>Store Hours:</p>
                    <input type="" name="storeHours" placeholder="Enter store hours">
                </label>
                <br> -->

                <label>
                    <p>Available Prescriptions:</p>
                    <input type="array" name="prescriptions" placeholder="Enter the prescriptions offered (separated by commas)">
                </label>
                <br>

                <label>
                    <p>Professional Licenses:</p>
                    <input type="array" name="licenses" placeholder="Enter any professional licenses (separated by commas)">
                </label>
                <br>

                <label>
                    <p>Services Offered:</p>
                    <input type="array" name="services" placeholder="Enter the services offered (separated by commas)">
                </label>
                <br>

                <label>
                    <p>Store Image:</p>
                    <input type="string" name="storeImage" placeholder="Upload a picture of the store">
                </label>
                <br>

                <button>Add the Store</button>
            </form>


        </div>

    </div>

</div>