<div id="edit">

    <div class="form">


        <h2>Edit my services</h2>


        <div id="info">

            <form action="/services-edit/{{myDetails._id}}" method="POST" enctype="multipart/form-data">

                <label>
                    <p>Services:</p>
                    <input type="text" name="prescriptions" value="{{myDetails.prescriptions}}" placeholder="Enter the services you require most frequently (separated by commas)">
                </label>
                <a href="/portal"><button type="button" class="btn btn btn-xs edit-button">Back</button></a>
                <button type="submit" class="btn btn btn-xs">Add</button>
            </form>

        </div>

    
    

    </div>
</div>