<div id="signup">

    <hr>
    <div class="form">

        <h2>Sign Up</h2>

        {{!-- {{> flashMessages}} --}}

        <form action="/process-signup" method="POST">
            <label>
                <p>&#x2a Full Name:</p>
                <input type="text" name="fullName" placeholder="Enter your name">
                <span class="underline"></span>
            </label>
            <br>

            <label>
                <p>&#x2a Email:</p>
                <input type="text" name="email" placeholder="Enter your email">
                <span class="underline"></span>
            </label>
            <br> {{#if blahUser.isAdmin}}
            <label>
                <p>Role:</p>
                <select name="role">
                    <option value="Admin">Admin</option>
                    <option value="Pharmacy">Pharmacy</option>
                    <option value="User" selected>User</option>
                </select>
            </label>
            <br>
            <p>Default Password: "123"</p>


            {{else}}
            <label>
                <p>&#x2a Password:</p>
                <input type="password" name="password" placeholder="Enter your password">
                <span class="underline"></span>
            </label>
            <br> {{/if}}

            <a href="/google/login">Sign up with Google</a>
            <a href="/github/login">Sign up with GitHub</a>

            <button>Sign up</button>
            <p id="already">Already have an account? <a href="/login">Log in here</a></p>
        </form>
    </div>
</div>