<div id = "pharmacy-pages">


	<ul class="nav nav-tabs">
		<li class="active"><a href="/portal">My portal</a></li>
		<li><a href="/portal/maps">Find pharmacies near me</a></li>
		<li><a href="/portal/pharmacies">Our database</a></li>

	</ul>

<div class="container col-lg-4">
	<h2>Favorites</h2>
	<p>A list of your favorite pharmacies</p>
	<table class="table responsive">
		<tbody class="lists">
			<tr>
				{{#each userList}}
					<td>{{this.favorites.name}}</td>
				{{/each}}
			</tr>
		</tbody>
	</table>
</div>

<div class="container col-md-4">
	<h2>Prescriptions</h2>
	<p>Keep track of your prescriptions</p>
	<table class="table responsive shrink">
		<tbody class="lists">
			<tr>
				{{#each userList}}
					<h2>{{this.name}}</h2>
					{{#each userList}}
					<td>{{this.prescriptions}}</td>
					{{/each}}
				{{/each}}
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-default btn-xs"><a href="/prescriptions/edit">Add Prescriptions</a></button>
</div>

<div class="container col-lg-4">
	<h2>Services</h2>
	<p>The services that you require most frequently</p>
	<table class="table responsive">
		<tbody class="lists">
			<tr>
				{{#each userList}}
				<td>{{this.services}}</td>
				{{/each}}
			</tr>
		</thead>
	</table>
	<button type="button" class="btn btn-default btn-xs"><a href="/services/edit">Add Services</a></button>
</div>

</div>
