<div id = "portal">

<br>
<br>

	<ul class="nav nav-tabs">
		<li class="active"><a href="/portal">My portal</a></li>
		<li><a href="/maps">Find pharmacies near me</a></li>
		<li><a href="/pharmacies">Our database</a></li>

	</ul>
</div>