<div id = "pharmacy-pages">


	<ul class="nav nav-tabs">
		<li class="active"><a href="/portal">My portal</a></li>
		<li><a href="/portal/maps">Find pharmacies near me</a></li>
		<li><a href="/portal/pharmacies">Our database</a></li>

	</ul>

</div>