

<div class="container">
		<header>
				<div id="material-tabs">
						<a id="tab1-tab" href="#tab1" class="active">Find Pharmacies</a>
						<a id="tab2-tab" href="#tab2">My Favorites</a>
						<!--<a id="tab3-tab" href="#tab3">DECLARATION</a>
						<a id="tab4-tab" href="#tab4">GESTION D'ACTIFS</a> -->
						<span class="yellow-bar"></span>
				</div>
		</header>

		<div class="tab-content">
				<div id="tab1">
						<p>There are three basic ideas invoved in creating these tabs:</p>
						<ol>
								<li>Use anchor tags as tabs.</li>
								<li>Use a span class for the tab highlight.</li>
							<li>In your CSS, adjust the <strong>position</strong> of the highlight, as well as it's <strong>width</strong>, by detecting the anchor tag with an 'active' class. Then adjust its left property and width property. Add a transition in your CSS, <em>et voil&agrave;</em>.</li>
						</ol>
				</div>
				<div id="tab2">
						<p>Second tab content.</p>
				</div>
				<!-- <div id="tab3">
						<p>Third tab content.</p>
				</div>
							<div id="tab4">
						<p>Third tab content.</p>
				</div> -->
		</div>
</div>